@use "../../assets/sass/mixin" as mixin;
@use "../../assets/sass/var" as var;
.company-section {
  @include mixin.ToVerticalAndHorizontalCenter();
  padding: 40px 0px;

}
.feature-section {
  @extend .company-section;
  border-top: 1px solid rgb(230, 226, 226);
  background-color: rgb(245, 240, 234);
}
